raycast
.tmp.driveupload
.tmp.drivedownload
.config/flutter
**/.DS_Store*
.config/tmux/plugins
.aider*
.config/github-copilot/

.config/.semgrep/
.config/homebrew/
.config/lazygit/
.config/mlflow/
.config/pypoetry/
