raycast
.tmp.driveupload
.tmp.drivedownload
flutter
**/.DS_Store*
tmux/plugins
./github-copilot/
./.copilot
./simple-update-notifier/
./gh/
./amp
./slicer.org/
.copilot/
gcloud/
jgit/
kitty/kitty.conf.bak
swiftpm/
tool_state
yazi/vfs.toml
